* {
  margin: 0px;
  padding: 0px;
}
.header {
  display: flex;
}
.logo {
  display: inline-block;
  width: 150px;
  margin: 15px 5px 5px 5px;
}
.search-box {
  width: 60%;
  margin: 35px 5px 5px 10px;
}
.search-body {
  width: 90%;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
  }
  .search-box {
    width: 90%;
    margin: 10px auto;
  }
  .search-body {
    width: 95%;
  }
}
