* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  font-size: 62.5%;
  font-family: "Lobster", cursive;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(125, 158, 248, 0.068);
}
.logo {
  display: inline-block;
  width: 20%;
}
.text {
  margin: auto;
  text-align: center;
}
h1 {
  font-weight: bolder;
  margin-bottom: 50px;
  font-size: 3.5rem;
}

.search {
  width: 60%;
  margin: auto;
}

.background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
.svg {
  width: 60rem;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  font-size: 1.6rem;
}
ul {
  font-family: Helvetica, sans-serif;
  display: flex;
  list-style: none;
}
ul > li {
  padding: 1.5rem;
}
li > a {
  color: rgb(36, 36, 36);
  text-decoration: none;
}
